.mySwiper {
  width: 100%;
  display: flex;
  margin: 32px auto;
}

.swiper-slide {
  flex-grow: 1;
  height: 100%;
  display: flex;
  align-items: center;
}

.swiper-slide img {
  width: 344px;
  height: 160px;
  border-radius: 13px;
  cursor: pointer;
  transition: 0.5s;
}

.swiper-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}
